@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #131313;
}

.noise {
  background: rgb(13, 13, 13);
  background-image: url(/noise.svg);
}

::-webkit-scrollbar {
  display: none;
}
